*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  
}
.nav-container{
  display:flex;
  height:8rem;
  border:1px solid black;
}

.card-container{
  height:10rem;
  width:10rem;
  display: flex;
  border:1px solid black;
  justify-content: center ;
  align-items: center;  
  margin:2rem;

}
.nav-content{
  padding:2rem;
}